@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 6, ../sass/main.scss */
.book {
  display: inline-block;
}

/* line 10, ../sass/main.scss */
header.navigation {
  position: fixed;
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999;
}
/* line 38, ../sass/main.scss */
header.navigation .navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 45, ../sass/main.scss */
header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 51, ../sass/main.scss */
header.navigation .logo img {
  max-height: 60px;
  padding: 0.8em 0;
}
/* line 59, ../sass/main.scss */
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 59, ../sass/main.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 73, ../sass/main.scss */
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  color: white;
}
/* line 81, ../sass/main.scss */
header.navigation nav {
  float: none;
  min-height: 60px;
  z-index: 9999999;
}
@media screen and (min-width: 53.75em) {
  /* line 81, ../sass/main.scss */
  header.navigation nav {
    float: left;
  }
}
/* line 91, ../sass/main.scss */
header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 100, ../sass/main.scss */
header.navigation ul.navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 91, ../sass/main.scss */
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 113, ../sass/main.scss */
header.navigation ul li.nav-link {
  background: #333;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 0.8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 113, ../sass/main.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}
/* line 131, ../sass/main.scss */
header.navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 53.75em) {
  /* line 131, ../sass/main.scss */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 140, ../sass/main.scss */
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  color: white;
}
/* line 147, ../sass/main.scss */
header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}
/* line 154, ../sass/main.scss */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 154, ../sass/main.scss */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 161, ../sass/main.scss */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 165, ../sass/main.scss */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 169, ../sass/main.scss */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 173, ../sass/main.scss */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: rgba(255, 255, 255, 0.7);
}
/* line 180, ../sass/main.scss */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 184, ../sass/main.scss */
header.navigation li.more a {
  padding-right: 0.8em;
}
/* line 188, ../sass/main.scss */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 188, ../sass/main.scss */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 196, ../sass/main.scss */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 204, ../sass/main.scss */
header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 180, ../sass/main.scss */
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}
/* line 215, ../sass/main.scss */
header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 215, ../sass/main.scss */
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 225, ../sass/main.scss */
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}
/* line 232, ../sass/main.scss */
header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 232, ../sass/main.scss */
  header.navigation ul.submenu li {
    line-height: 46.15385px;
  }
  /* line 239, ../sass/main.scss */
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 244, ../sass/main.scss */
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}
/* line 251, ../sass/main.scss */
header.navigation ul.submenu li a {
  background-color: #2b2b2b;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 251, ../sass/main.scss */
  header.navigation ul.submenu li a {
    background-color: #333;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 269, ../sass/main.scss */
header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 60px;
}
@media screen and (min-width: 53.75em) {
  /* line 269, ../sass/main.scss */
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}
/* line 284, ../sass/main.scss */
header.navigation .search-bar {
  float: left;
  padding: 0.85em 0.85em 0.7em 0.6em;
  width: 60%;
}
/* line 293, ../sass/main.scss */
header.navigation .search-bar form {
  position: relative;
}
/* line 296, ../sass/main.scss */
header.navigation .search-bar form input[type=search] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #404040;
  border-radius: 6px;
  border: 1px solid #262626;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.8em;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 296, ../sass/main.scss */
  header.navigation .search-bar form input[type=search] {
    width: 100%;
  }
}
/* line 313, ../sass/main.scss */
header.navigation .search-bar form button[type=submit] {
  background: #404040;
  border: none;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 9px;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}
/* line 324, ../sass/main.scss */
header.navigation .search-bar form button[type=submit] img {
  height: 12px;
  opacity: 0.7;
  padding: 1px;
}
@media screen and (min-width: 53.75em) {
  /* line 284, ../sass/main.scss */
  header.navigation .search-bar {
    display: inline-block;
    position: relative;
    width: 16em;
  }
  /* line 337, ../sass/main.scss */
  header.navigation .search-bar input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
}

/* line 345, ../sass/main.scss */
.hero {
  position: relative;
  height: 100vh;
  background: url("../images/yacht-02-mid.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzk5NDE4IiB5MT0iMS4wNzA0MjgiIHgyPSIwLjYwMDU4MiIgeTI9Ii0wLjA3MDQyOCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwMzkyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdmOTliZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), no-repeat #7F99BE scroll;
  background: url("../images/yacht-02-mid.png"), -moz-linear-gradient(80deg, #20392b, #7f99be), no-repeat #7F99BE scroll;
  background: url("../images/yacht-02-mid.png"), -webkit-linear-gradient(80deg, #20392b, #7f99be), no-repeat #7F99BE scroll;
  background: url("../images/yacht-02-mid.png"), linear-gradient(10deg, #20392b, #7f99be), no-repeat #7F99BE scroll;
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
}
/* line 364, ../sass/main.scss */
.hero .hero-logo img {
  height: 4em;
  margin-bottom: 1em;
}
/* line 369, ../sass/main.scss */
.hero .hero-inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 7em 3.5em;
  text-align: center;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.hero .hero-inner::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.hero .hero-inner::after {
  clear: both;
  content: "";
  display: table;
}
/* line 376, ../sass/main.scss */
.hero .hero-inner .hero-copy {
  text-align: center;
}
/* line 379, ../sass/main.scss */
.hero .hero-inner .hero-copy h1 {
  color: white;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 53.75em) {
  /* line 379, ../sass/main.scss */
  .hero .hero-inner .hero-copy h1 {
    font-size: 1.8em;
  }
}
/* line 389, ../sass/main.scss */
.hero .hero-inner .hero-copy p {
  /*color: $hero-color;*/
  color: black;
  line-height: 1.4em;
  margin: 0 auto 3em auto;
}
@media screen and (min-width: 53.75em) {
  /* line 389, ../sass/main.scss */
  .hero .hero-inner .hero-copy p {
    font-size: 1.1em;
    max-width: 40%;
  }
}

/* line 406, ../sass/main.scss */
.search {
  position: relative;
  top: -350px;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
/* line 415, ../sass/main.scss */
.search .button-container {
  display: inline-block;
  position: relative;
  top: -17px;
  padding-left: 10px;
}

/* line 423, ../sass/main.scss */
.dropdown {
  line-height: 1.5em;
  display: inline-block;
  padding: 10px;
}
/* line 447, ../sass/main.scss */
.dropdown .dropdown-container {
  display: inline-block;
  position: relative;
  text-align: center;
}
/* line 453, ../sass/main.scss */
.dropdown .dropdown-description {
  background: white;
  border-bottom-left-radius: 3px;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-top-left-radius: 3px;
  border-top: 1px solid silver;
  color: #999999;
  float: left;
  font-size: 0.7em;
  line-height: 40px;
  margin: 0;
  padding: 0 0.5em 0 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 453, ../sass/main.scss */
  .dropdown .dropdown-description {
    font-size: 1em;
  }
}
/* line 472, ../sass/main.scss */
.dropdown .dropdown-button {
  background: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  cursor: pointer;
  float: right;
  font-size: 0.7em;
  line-height: 40px;
  margin: 0;
  padding: 0 2.5em 0 0.5em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 472, ../sass/main.scss */
  .dropdown .dropdown-button {
    font-size: 1em;
    padding: 0 2.5em 0 0.5em;
  }
}
/* line 493, ../sass/main.scss */
.dropdown .dropdown-button:hover {
  background-color: #f7f7f7;
}
/* line 497, ../sass/main.scss */
.dropdown .dropdown-button:after {
  color: #333;
  content: "\25BE";
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
}
/* line 506, ../sass/main.scss */
.dropdown .dropdown-menu {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: white;
  border-radius: 3px;
  border: 1px solid silver;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
  display: none;
  margin: 0;
  overflow: show;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50px;
  width: 228px;
  z-index: 99999;
}
/* line 524, ../sass/main.scss */
.dropdown .dropdown-menu:before {
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  left: 0;
  color: white;
  content: "\25b2";
  font-size: 1.4em;
  pointer-events: none;
  text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
  top: -0.7em;
}
/* line 535, ../sass/main.scss */
.dropdown .dropdown-menu li {
  border-bottom: 1px solid silver;
  color: #333;
  list-style: none;
  padding: 0.5em;
}
/* line 542, ../sass/main.scss */
.dropdown .dropdown-menu li:hover {
  background: #f7f7f7;
}
/* line 546, ../sass/main.scss */
.dropdown .dropdown-menu li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 551, ../sass/main.scss */
.dropdown .dropdown-menu li:last-child {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 557, ../sass/main.scss */
.dropdown .show-menu {
  display: block;
}

/* line 563, ../sass/main.scss */
.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 569, ../sass/main.scss */
.card {
  -webkit-flex-basis: 15em;
  flex-basis: 15em;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  margin: 0 1em 1.5em 1em;
  position: relative;
}
/* line 597, ../sass/main.scss */
.card .card-image {
  overflow: hidden;
  height: 150px;
  max-height: 150px;
  background-color: #F8F2B4;
}
/* line 603, ../sass/main.scss */
.card .card-image img {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  opacity: 1;
}
/* line 612, ../sass/main.scss */
.card .card-header {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-bottom: 1px solid gainsboro;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
}
/* line 622, ../sass/main.scss */
.card .card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
/* line 627, ../sass/main.scss */
.card .card-copy p {
  margin: 0 0 0.75em;
}
/* line 632, ../sass/main.scss */
.card:focus, .card:hover {
  cursor: pointer;
}
/* line 636, ../sass/main.scss */
.card:focus img, .card:hover img {
  opacity: 0.7;
}
/* line 641, ../sass/main.scss */
.card:active {
  background-color: #f6f6f6;
}
/* line 644, ../sass/main.scss */
.card:active .card-header {
  background-color: #f6f6f6;
}

/* line 649, ../sass/main.scss */
.search-tools {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  padding: 1.618em 0.809em;
  width: 100%;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.search-tools::after {
  clear: both;
  content: "";
  display: table;
}
/* line 672, ../sass/main.scss */
.search-tools li {
  font-size: 0.8em;
  line-height: 1.5em;
  list-style: none;
}
/* line 678, ../sass/main.scss */
.search-tools label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 684, ../sass/main.scss */
.search-tools .filters {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 684, ../sass/main.scss */
  .search-tools .filters {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/* line 695, ../sass/main.scss */
.search-tools .filter {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0 0.2em 1em 0.2em;
}
@media screen and (min-width: 53.75em) {
  /* line 695, ../sass/main.scss */
  .search-tools .filter {
    margin-bottom: 0;
  }
}
/* line 704, ../sass/main.scss */
.search-tools .filter > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color;
  -o-transition: border-color;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid gainsboro;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 4em 0.5em 0.5em;
  position: relative;
  width: 100%;
}
/* line 716, ../sass/main.scss */
.search-tools .filter > div:focus, .search-tools .filter > div:hover {
  border-color: #c3c3c3;
}
/* line 721, ../sass/main.scss */
.search-tools .filter > div label {
  cursor: pointer;
  margin-bottom: 0;
}
/* line 727, ../sass/main.scss */
.search-tools .filter .filter-list {
  margin: 1em 0 0;
  padding: 0;
}
/* line 731, ../sass/main.scss */
.search-tools .filter .filter-list label {
  display: inline;
}
/* line 736, ../sass/main.scss */
.search-tools .filter button.clear {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: auto;
  left: auto;
  max-width: 4em;
  font-size: 0.7em;
}
/* line 742, ../sass/main.scss */
.search-tools .filter .hide-options {
  margin-bottom: 0;
}
/* line 745, ../sass/main.scss */
.search-tools .filter .hide-options ol, .search-tools .filter .hide-options button {
  display: none;
}
/* line 751, ../sass/main.scss */
.search-tools .trigger {
  margin-top: 1.5em;
}
/* line 754, ../sass/main.scss */
.search-tools .trigger button {
  display: block;
  width: 100%;
  padding: .5em 1em;
  text-align: center;
}

/* =========
   Get Fonts */
/* ================
   Assign Variables */
/* ===========================
   Setup Mixins/Helper Classes */
/* line 774, ../sass/main.scss */
.clearfix:after, .calendar ol:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ==========
   Setup Page */
/* line 784, ../sass/main.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 785, ../sass/main.scss */
body {
  color: grey;
  font-family: 'Quicksand', sans-serif;
}

/* line 787, ../sass/main.scss */
.legend {
  float: right;
  margin-right: 50px;
}
/* line 791, ../sass/main.scss */
.legend .booked span {
  display: inline-block;
  height: 10px;
  width: 10px;
  font-size: 10px;
  line-height: 10px;
  border: 5px solid transparent;
  border-radius: 5px;
  background-color: black;
  margin-right: 5px;
}
/* line 805, ../sass/main.scss */
.legend .mine span {
  display: inline-block;
  height: 10px;
  width: 10px;
  font-size: 10px;
  line-height: 10px;
  border: 5px solid transparent;
  border-radius: 5px;
  background-color: #9987B5;
  margin-right: 5px;
}

/* ================
   Calendar Styling */
/* line 820, ../sass/main.scss */
.calendar {
  background: white;
  padding: 3em;
  border-radius: 10px;
}
/* line 824, ../sass/main.scss */
.calendar .month {
  margin-top: 0;
  font-weight: normal;
  font-size: 3em;
  color: #6EB590;
}
/* line 825, ../sass/main.scss */
.calendar ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 827, ../sass/main.scss */
.calendar ol li {
  float: left;
  width: 14.28571%;
}
/* line 829, ../sass/main.scss */
.calendar .day-names {
  border-bottom: 1px solid #eee;
}
/* line 831, ../sass/main.scss */
.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: .5em;
}
/* line 834, ../sass/main.scss */
.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8em;
}
/* line 837, ../sass/main.scss */
.calendar .days li .date {
  margin: .5em 0;
}
/* line 838, ../sass/main.scss */
.calendar .days li .event {
  background: #6EB590;
  font-size: .75em;
  padding: 0 .75em;
  line-height: 2em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 1em;
  margin-bottom: 1px;
}
/* line 849, ../sass/main.scss */
.calendar .days li .event.span-2 {
  width: 200%;
}
/* line 850, ../sass/main.scss */
.calendar .days li .event.begin {
  border-radius: 1em 0 0 1em;
}
/* line 851, ../sass/main.scss */
.calendar .days li .event.end {
  border-radius: 0 1em 1em 0;
}
/* line 852, ../sass/main.scss */
.calendar .days li .event.extend {
  border-radius: 0;
}
/* line 853, ../sass/main.scss */
.calendar .days li .event.all-day {
  background: #9987B5;
}
/* line 854, ../sass/main.scss */
.calendar .days li .event.booked {
  background-color: black;
}
/* line 855, ../sass/main.scss */
.calendar .days li .event.clear {
  background: none;
}
/* line 857, ../sass/main.scss */
.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}
/* line 858, ../sass/main.scss */
.calendar .days li.outside .date {
  color: #ddd;
}

/* line 863, ../sass/main.scss */
.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%;
}
/* line 877, ../sass/main.scss */
.footer .footer-logo {
  margin-bottom: 2em;
  text-align: center;
}
/* line 881, ../sass/main.scss */
.footer .footer-logo img {
  height: 3em;
}
/* line 886, ../sass/main.scss */
.footer .footer-links {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
/* line 893, ../sass/main.scss */
.footer ul {
  -webkit-flex-basis: 13em;
  flex-basis: 13em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-bottom: 3em;
  padding: 0;
}
/* line 900, ../sass/main.scss */
.footer li {
  line-height: 1.5em;
  list-style: none;
  text-align: center;
}
/* line 906, ../sass/main.scss */
.footer li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
/* line 910, ../sass/main.scss */
.footer li a:focus, .footer li a:hover {
  color: white;
}
/* line 916, ../sass/main.scss */
.footer li h3 {
  color: white;
  font-size: 1em;
  margin-bottom: 0.4em;
}
/* line 922, ../sass/main.scss */
.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 1.5em;
  width: 12em;
}
/* line 928, ../sass/main.scss */
.footer p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

/* line 938, ../sass/main.scss */
.pagination {
  margin-bottom: 10px;
  text-align: center;
}
/* line 955, ../sass/main.scss */
.pagination ul {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 961, ../sass/main.scss */
.pagination ul li {
  display: inline;
  list-style: none;
}
/* line 966, ../sass/main.scss */
.pagination ul ul li {
  display: none;
}
/* line 969, ../sass/main.scss */
.pagination ul ul li:nth-child(1), .pagination ul ul li:nth-child(2), .pagination ul ul li:nth-child(3) {
  display: inline;
}
@media screen and (min-width: 53.75em) {
  /* line 966, ../sass/main.scss */
  .pagination ul ul li {
    display: inline;
  }
}
/* line 980, ../sass/main.scss */
.pagination ul li a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  color: #333;
  outline: none;
  padding: 0.375em 0.809em;
  text-decoration: none;
}
/* line 990, ../sass/main.scss */
.pagination ul li a:hover, .pagination ul li a:focus {
  background: white;
  color: #477DCA;
}
/* line 996, ../sass/main.scss */
.pagination ul li a:active {
  background: #f6f6f6;
}

/* line 1003, ../sass/main.scss */
.side-image.receipt {
  padding-left: 10vw;
}

/* line 1009, ../sass/main.scss */
.side-image {
  background: #F9F9F9;
}
/* line 1022, ../sass/main.scss */
.side-image input[type="text"] {
  margin: 5px 0px;
  padding: 5px;
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 1009, ../sass/main.scss */
  .side-image {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
/* line 1032, ../sass/main.scss */
.side-image .images-wrapper {
  background: url("../images/ducky.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZWJlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVkYWM1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), no-repeat #B5EBEB scroll;
  background: url("../images/ducky.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5ebeb), color-stop(100%, #5dac5d)), no-repeat #B5EBEB scroll;
  background: url("../images/ducky.png"), -moz-linear-gradient(#b5ebeb, #5dac5d), no-repeat #B5EBEB scroll;
  background: url("../images/ducky.png"), -webkit-linear-gradient(#b5ebeb, #5dac5d), no-repeat #B5EBEB scroll;
  background: url("../images/ducky.png"), linear-gradient(#b5ebeb, #5dac5d), no-repeat #B5EBEB scroll;
  background-color: #B5EBEB;
  background-size: cover;
  border-bottom: 1px solid rgba(38, 74, 38, 0.2);
  display: block;
  min-height: 12em;
  padding: 3em;
}
@media screen and (min-width: 53.75em) {
  /* line 1032, ../sass/main.scss */
  .side-image .images-wrapper {
    display: table-cell;
    width: 33.33333%;
    background-position: bottom;
    background-size: cover;
    border-right: 1px solid rgba(38, 74, 38, 0.2);
  }
}
/* line 1049, ../sass/main.scss */
.side-image .side-image-content {
  display: table-cell;
  width: 100%;
  padding: 1em 1em 4em 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 1049, ../sass/main.scss */
  .side-image .side-image-content {
    display: table-cell;
    width: 66.66667%;
    padding: 4em 4em 4em 4em;
  }
}
/* line 1058, ../sass/main.scss */
.side-image .side-image-content .content {
  display: flex;
  margin-bottom: 2em;
}
/* line 1061, ../sass/main.scss */
.side-image .side-image-content .content > div {
  width: 50%;
}
/* line 1066, ../sass/main.scss */
.side-image .side-image-content .purchase {
  margin: 10px 0;
}
/* line 1069, ../sass/main.scss */
.side-image .side-image-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 1074, ../sass/main.scss */
.side-image .side-image-content h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 1080, ../sass/main.scss */
.side-image .side-image-content h4 {
  background: #BBB;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
}
/* line 1090, ../sass/main.scss */
.side-image .side-image-content p {
  color: #333;
  line-height: 1.5em;
  margin-bottom: 1em;
}
